/* Estilos para la pagina de Login */
.separador_login {
    background-color: transparent;
    margin-left: 0px;
  }
  
  .separador_login:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }