{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <!-- Header social + login -->
    <nav class="navbar">
        <div class="language-switch">
            <a href="/{{ LANGUAGE_CODE }}/es{{ request.get_full_path|cut:'/'|cut:CURRENT_LANG }}">ES</a>
            <span>|</span>
            <a href="/{{ LANGUAGE_CODE }}/en" class="lang-option">EN</a>
        </div>
        {% if user.is_authenticated %}
        <div class="login-dropdown">
            <button class="dropdown-button">Bienvenido {{ user.username }}</button>
            <div class="dropdown-content">
                <a href="/{{ LANGUAGE_CODE }}/dashboard/{{ user.userrole.role }}/">Ir a mi panel</a>
                <a href="/{{ LANGUAGE_CODE }}/logout/">Cerrar sesión</a>
            </div>
        </div>
        {% else %}
        <div class="login-icon">
            <a href="/{{ LANGUAGE_CODE }}/login/">
                <img class="social-icons" src="{% static 'images/Logos/Login_icon.png' %}" alt="Login Icon">
            </a>
        </div>
        {% endif %}
    </nav>
    <nav class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Menú</button>
            <div class="dropdown-content">
                {% if role == 'redactor' %}
                <a href="/{{ LANGUAGE_CODE }}/dashboard/redactor/">Panel de Redactor</a>
                {% elif role == 'colaborador' %}
                <a href="/{{ LANGUAGE_CODE }}/dashboard/colaborador/">Panel de Colaborador</a>
                {% elif role == 'suscriptor' %}
                <a href="/{{ LANGUAGE_CODE }}/dashboard/suscriptor/">Panel de Suscriptor</a>
                {% endif %}
                <a href="/{{ LANGUAGE_CODE }}/logout/">Cerrar sesión</a>
            </div>
        </div>
    </nav>
    <h1>Bienvenido, {{ user.username }}</h1>
    <h2>Comentarios</h2>
    <ul>
        {% for comment in comments %}
        <li><strong>{{ comment.user.username }}:</strong> {{ comment.content }} ({{ comment.created_at }})</li>
        {% endfor %}
    </ul>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="comment">Publicar Comentario</button>
    </form>

    {% if role in 'admin' or role in 'editor' %}
    <h2>Subir Videos</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file">
        <button type="submit" name="upload">Subir</button>
    </form>
    {% endif %}

    {% if role == 'admin' %}
    <h2>Subir Código HTML</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file">
        <button type="submit" name="html_upload">Subir</button>
    </form>
    {% endif %}
</body>

</html>