<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VANDAL</title>
  <!-- Enlace al archivo de estilos principal -->
  <link rel="stylesheet" href="../../static/css/styles.css">
  <link rel="stylesheet" href="../../static/css/blog.css">
</head>

<body>
  <!-- Header social + login -->
  <nav class="navbar">
    <div class="login-icon">
      <a href="../usuarios/login.html">
        <img class="social-icons" src="../../static/images/Logos/Login_icon.png" alt="Login Icon">
      </a>
    </div>
  </nav>

  <!-- Logo principal -->
  <nav class="navbar">
    <div>
      <a href="../common/home.html">
        <img class="logo" src="../../static/images/Logos/vandal_logo.PNG" alt="Vandal Logo">
      </a>
    </div>
  </nav>

  <!-- Navbar principal -->
  <nav class="navbar">
    <ul>
      <li><a href="../common/home.html">INICIO</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="redactores.html">Equipo</a></li>
      <li><a href="videos.html">Vídeos</a></li>
      <li><a href="calendario.html">Calendario</a></li>
      <li><a href="ranking.html">Ranking</a></li>
    </ul>
  </nav>

  <section id="blog">
    <h2>Blog</h2>
    <div class="grid-3">
      <article class="card">
        <div class="date">15 abril 2025</div>
        <div class="title">¿Son demasiado caros los juegos modernos?</div>
        <div class="desc">Varios ejemplos modernos nos hacen surgir la duda sobre el precio del gaming moderno y su gran
          diferencia con tiempos pasados, pero, ¿Es realmente cierto?</div>
        <div><img class="image" src="../../static/images/Blog/2.jpg" alt=""></div>
      </article>
      <article class="card">
        <div class="date">28 abril 2025</div>
        <div class="title">El desarrollo de un juego y como este puede afectar al producto final</div>
        <div class="desc">En este artículo, exploraremos cómo el desarrollo de un juego puede influir en la experiencia
          del usuario y en la calidad del producto final.</div>
        <div><img class="image" src="../../static/images/Blog/1.jpg" alt=""></div>
      </article>
      <article class="card">
        <div class="date">5 mayo 2025</div>
        <div class="title">Los juegos como servicio, ¿El futuro del gaming o el comienzo de su decadencia?</div>
        <div class="desc">En los últimos años hemos visto surgir muchos videojuegos como servicio, como fortnite, marvel
          rivals, etc... ¿Son estos el futuro del gaming como nos venden? O su modelo predatorio ha hecho más mal que
          bien?</div>
        <div><img class="image" src="../../static/images/Blog/3.jpg" alt=""></div>
      </article>
    </div>
  </section>

  <!-- Sección de contacto -->
  <div style="text-align: center;">
    <h1>¿Encontraste un bug en tu aventura?</h1>
    <p>Cuéntanos para que podamos lanzar un hechizo de corrección.</p>
  </div>
  <div style="text-align: center; margin: 20px 0;">
    <a href="contacto.html" class="contact-button">Contáctanos</a>
  </div>

<!-- Footer -->
<footer>
  <nav class="navbar">
    <div>
      <a href="../common/home.html">
        <img class="logo-footer" src="../../static/images/Logos/vandal_logo.png" alt="Vandal Logo Footer">
      </a>
    </div>
  </nav>
  <div class="footer-nav">
    <a href="../portal/contacto.html">Trabaja con nosotros</a>
    <a href="#">Cookies</a>
    <a href="../common/legal.html">Aviso Legal</a>
  </div>
  <div>
    <a href="https://x.com/home?lang=es">
      <img class="social-icons" src="../../static/images/Logos/x_logo.png" alt="Twitter">
    </a>
    <a href="https://instagram.com">
      <img class="social-icons" src="../../static/images/Logos/instagram_logo.png" alt="Instagram">
    </a>
    <a href="https://youtube.com">
      <img class="social-icons" src="../../static/images/Logos/Youtube_logo.png" alt="YouTube">
    </a>
  </div>
  <div class="footer-bottom">Copyright Vandal © 2025 - Prohibida la reproducción total o parcial sin permiso.</div>
</footer>
</body>

</html>