{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VANDAL</title>
  <!-- Enlace al archivo de estilos principal -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
  <!-- Header social + login -->
  <nav class="navbar">
    <div class="language-switch">
      <a href="/es" class="lang-option">ES</a>
      <span>|</span>
      <a href="/en" class="lang-option">EN</a>
    </div>
    {% if user.is_authenticated %}
    <div class="login-dropdown">
      <button class="dropdown-button">Bienvenido {{ user.username }}</button>
      <div class="dropdown-content">
        <a href="/dashboard/{{ user.userrole.role }}/">Ir a mi panel</a>
        <a href="/logout/">Cerrar sesión</a>
      </div>
    </div>
    {% else %}
    <div class="login-icon">
      <a href="/login/">
        <img class="social-icons" src="{% static 'images/Logos/Login_icon.png' %}" alt="Login Icon">
      </a>
    </div>
    {% endif %}
  </nav>

  <!-- Logo principal -->
  <nav class="navbar">
    <div>
      <a href="/">
        <img class="logo" src="{% static 'images/Logos/vandal_logo.PNG' %}" alt="Vandal Logo">
      </a>
    </div>
  </nav>

  <!-- Navbar principal -->
  <nav class="navbar">
    <ul>
      <li><a href="/">INICIO</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/redactores">Equipo</a></li>
      <li><a href="/videos">Vídeos</a></li>
      <li><a href="/calendario">Calendario</a></li>
      <li><a href="/ranking">Ranking</a></li>
    </ul>
  </nav>

  <section id="blog">
    <h2>Blog</h2>
    <div class="grid-3">
      {% for post in posts %}
      <article class="card">
        <div class="date">{{ post.created_at|date:"j F Y" }}</div>
        <div class="title">{{ post.title }}</div>
        <div class="desc">{{ post.content|truncatechars:180 }}</div>
        <div>
          {% if post.image %}
          <a href="{% url 'blog_post' post.id %}">
            <img class="image" src="{{ post.image.url }}" alt="{{ post.title }}">
          </a>
          {% else %}
          <a href="{% url 'blog_post' post.id %}">
            <img class="image" src="{% static 'images/placeholder.jpg' %}" alt="Sin imagen">
          </a>
          {% endif %}
        </div>
      </article>
      {% endfor %}
    </div>
  </section>
  
  <!-- Sección de contacto -->
  <div style="text-align: center;">
    <h1>¿Encontraste un bug en tu aventura?</h1>
    <p>Cuéntanos para que podamos lanzar un hechizo de corrección.</p>
  </div>
  <div style="text-align: center; margin: 20px 0;">
    <a href="/contacto" class="contact-button">Contáctanos</a>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-logo">
      <img class="logo-footer" src="{% static 'images/Logos/vandal_logo.PNG' %}" alt="Vandal Logo Footer">
    </div>
    </br>
    <nav class="footer-nav">
      <a href="/legal">Aviso legal</a>
      <a href="/">Política de cookies</a>
      <a href="/publicidad">Publicidad/Advertising</a>
      <a href="/contacto">Trabaja con nosotros</a>
    </nav>
    </br>
    <div class="footer-bottom">
      Copyright Vandal © 2025 - Prohibida la reproducción total o parcial de estos contenidos sin el permiso expreso de
      los autores.
    </div>
  </footer>
</body>

</html>