{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VANDAL</title>
  <!-- Enlace al archivo de estilos principal -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/redactores.css' %}">
</head>

<body>
  <!-- Header social + login -->
  <nav class="navbar">
    <div class="language-switch">
      <a href="/es" class="lang-option">ES</a>
      <span>|</span>
      <a href="/en" class="lang-option">EN</a>
    </div>
    {% if user.is_authenticated %}
    <div class="login-dropdown">
      <button class="dropdown-button">Bienvenido {{ user.username }}</button>
      <div class="dropdown-content">
        <a href="/dashboard/{{ user.userrole.role }}/">Ir a mi panel</a>
        <a href="/logout/">Cerrar sesión</a>
      </div>
    </div>
    {% else %}
    <div class="login-icon">
      <a href="/login/">
        <img class="social-icons" src="{% static 'images/Logos/Login_icon.png' %}" alt="Login Icon">
      </a>
    </div>
    {% endif %}
  </nav>

  <!-- Logo principal -->
  <nav class="navbar">
    <div>
      <a href="/">
        <img class="logo" src="{% static 'images/Logos/vandal_logo.PNG' %}" alt="Vandal Logo">
      </a>
    </div>
  </nav>

  <!-- Navbar principal -->
  <nav class="navbar">
    <ul>
      <li><a href="/">INICIO</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/redactores">Equipo</a></li>
      <li><a href="/videos">Vídeos</a></li>
      <li><a href="/calendario">Calendario</a></li>
      <li><a href="/ranking">Ranking</a></li>
    </ul>
  </nav>

  <!-- Contenido principal -->
  <section id="redactores">
    <h2>Nuestro equipo de redacción</h2>
    <div class="list-redactores">
      <!-- Redactor 1 -->
      <div class="redactor-container">
        <div class="image">
          <img class="image" src="{% static 'images/Redactores/javier.jpg' %}" alt="Redactor 1">
          <div class="social-links">
            <a href="https://x.com"><img src="{% static 'images/Logos/x_logo.png' %}" alt="Twitter Icon"></a>
            <a href="https://es.linkedin.com/"><img src="{% static 'images/Logos/linkedin_logo.png' %}"
                alt="Instagram Icon"></a>
          </div>
        </div>
        <div class="info">
          <div class="headline">Javier</div>
          <div class="summary">Redactor de videojuegos y tecnología.</div>
        </div>
      </div>

      <!-- Redactor 2 -->
      <div class="redactor-container">
        <div class="image">
          <img class="image" src="{% static 'images/Redactores/maria.jpg' %}" alt="Redactor 2">
          <div class="social-links">
            <a href="https://x.com"><img src="{% static 'images/Logos/x_logo.png' %}" alt="Twitter Icon"></a>
            <a href="https://es.linkedin.com/"><img src="{% static 'images/Logos/linkedin_logo.png' %}"
                alt="Instagram Icon"></a>
          </div>
        </div>
        <div class="info">
          <div class="headline">María</div>
          <div class="summary">Experta en análisis de juegos.</div>
        </div>
      </div>

      <!-- Redactor 3 -->
      <div class="redactor-container">
        <div class="image">
          <img class="image" src="{% static 'images/Redactores/carlos.jpg' %}" alt="Redactor 3">
          <div class="social-links">
            <a href="https://x.com"><img src="{% static 'images/Logos/x_logo.png' %}" alt="Twitter Icon"></a>
            <a href="https://es.linkedin.com/"><img src="{% static 'images/Logos/linkedin_logo.png' %}"
                alt="Instagram Icon"></a>
          </div>
        </div>
        <div class="info">
          <div class="headline">Carlos</div>
          <div class="summary">Apasionado de la música y los videojuegos.</div>
        </div>
      </div>

      <!-- Redactor 4 -->
      <div class="redactor-container">
        <div class="image">
          <img class="image" src="{% static 'images/Redactores/laura.jpg' %}" alt="Redactor 4">
          <div class="social-links">
            <a href="https://x.com"><img src="{% static 'images/Logos/x_logo.png' %}" alt="Twitter Icon"></a>
            <a href="https://es.linkedin.com/"><img src="{% static 'images/Logos/linkedin_logo.png' %}"
                alt="Instagram Icon"></a>
          </div>
        </div>
        <div class="info">
          <div class="headline">Laura</div>
          <div class="summary">Redactora de cine y series.</div>
        </div>
      </div>

      <!-- Redactor 5 -->
      <div class="redactor-container">
        <div class="image">
          <img class="image" src="{% static 'images/Redactores/david.jpg' %}" alt="Redactor 5">
          <div class="social-links">
            <a href="https://x.com"><img src="{% static 'images/Logos/x_logo.png' %}" alt="Twitter Icon"></a>
            <a href="https://es.linkedin.com/"><img src="{% static 'images/Logos/linkedin_logo.png' %}"
                alt="Instagram Icon"></a>
          </div>
        </div>
        <div class="info">
          <div class="headline">David</div>
          <div class="summary">Crítico de cine y videojuegos.</div>
        </div>
      </div>

    </div>
  </section>
  <!-- Sección de contacto -->
  <div style="text-align: center;">
    <h1>¿Encontraste un bug en tu aventura?</h1>
    <p>Cuéntanos para que podamos lanzar un hechizo de corrección.</p>
  </div>
  <div style="text-align: center; margin: 20px 0;">
    <a href="/contacto" class="contact-button">Contáctanos</a>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-logo">
      <img class="logo-footer" src="{% static 'images/Logos/vandal_logo.PNG' %}" alt="Vandal Logo Footer">
    </div>
    </br>
    <nav class="footer-nav">
      <a href="/legal">Aviso legal</a>
      <a href="/">Política de cookies</a>
      <a href="/publicidad">Publicidad/Advertising</a>
      <a href="/contacto">Trabaja con nosotros</a>
    </nav>
    </br>
    <div class="footer-bottom">
      Copyright Vandal © 2025 - Prohibida la reproducción total o parcial de estos contenidos sin el permiso expreso de
      los autores.
    </div>
  </footer>
</body>

</html>