<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VANDAL</title>
  <!-- Enlace al archivo de estilos principal -->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <!-- Header social + login -->
  <nav class="navbar">
    <div class="login-icon">
      <a href="login.html">
        <img class="social-icons" src="../static/images/Logos/Login_icon.png" alt="Login Icon">
      </a>
    </div>
  </nav>

  <!-- Logo principal -->
  <nav class="navbar">
    <div>
      <a href="index.html">
        <img class="logo" src="../static/images/Logos/vandal_logo.PNG" alt="Vandal Logo">
      </a>
    </div>
  </nav>

  <!-- Navbar principal -->
  <nav class="navbar">
    <ul>
      <li><a href="">INICIO</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="redactores.html">Equipo</a></li>
      <li><a href="videos.html">Vídeos</a></li>
      <li><a href="calendario.html">Calendario</a></li>
      <li><a href="ranking.html">Ranking</a></li>
    </ul>
  </nav>