<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VANDAL</title>
  <!-- Enlace al archivo de estilos principal -->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <!-- Header social + login -->
  <nav class="navbar">
    <div class="login-icon">
      <a href="../usuarios/login.html">
        <img class="social-icons" src="../static/images/Login_icon.png" alt="Login Icon">
      </a>
    </div>
  </nav>

  <!-- Logo principal -->
  <nav class="navbar">
    <div>
      <a href="home.html">
        <img class="logo" src="../static/images/vandal_logo.PNG" alt="Vandal Logo">
      </a>
    </div>
  </nav>

  <!-- Navbar principal -->
  <nav class="navbar">
    <ul>
      <li><a href="home.html">INICIO</a></li>
      <li><a href="../portal/blog.html">Blog</a></li>
      <li><a href="../portal/redactores.html">Equipo</a></li>
      <li><a href="../portal/videos.html">Vídeos</a></li>
      <li><a href="../portal/calendario.html">Calendario</a></li>
      <li><a href="../portal/ranking.html">Ranking</a></li>
    </ul>
  </nav>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit risus, non proin dui cubilia curabitur vivamus tempus ullamcorper aptent, taciti netus integer felis mauris dictumst aliquam. Nibh nostra leo enim gravida sollicitudin, rhoncus facilisis cras curae vulputate per, torquent elementum sapien fusce. Duis at ridiculus praesent pretium semper fames ligula, mattis vestibulum neque enim blandit turpis viverra, porta nulla lacus libero proin molestie.</p>

<p>Iaculis suscipit eleifend ac proin nulla nullam porttitor, non ultrices urna mus accumsan tellus, sagittis ornare turpis ligula varius et. Torquent himenaeos tellus placerat facilisis litora nostra scelerisque, aptent dictumst mauris quisque habitant dis, molestie orci luctus faucibus fringilla risus. Vulputate scelerisque fusce dapibus libero felis eleifend luctus cursus nostra molestie, convallis vestibulum sapien dis urna conubia magnis risus litora ultrices, mauris iaculis suscipit nisl at sodales euismod netus arcu.</p>

<!-- Footer -->
<footer>
  <nav class="navbar">
    <div>
      <a href="home.html">
        <img class="logo-footer" src="../static/images/Logos/vandal_logo.PNG" alt="Vandal Logo Footer">
      </a>
    </div>
  </nav>
  <div class="footer-nav">
    <a href="../portal/contacto.html">Trabaja con nosotros</a>
    <a href="#">Cookies</a>
    <a href="legal.html">Aviso Legal</a>
  </div>
  <div>
    <a href="https://x.com/home?lang=es">
      <img class="social-icons" src="../static/images/Logos/X_logo_2023_original.svg.png" alt="Twitter">
    </a>
    <a href="https://instagram.com">
      <img class="social-icons" src="../static/images/Logos/logotipo-de-instagram.png" alt="Instagram">
    </a>
    <a href="https://youtube.com">
      <img class="social-icons" src="../static/images/Logos/Youtube_logo.png" alt="YouTube">
    </a>
  </div>
  <div class="footer-bottom">Copyright Vandal © 2025 - Prohibida la reproducción total o parcial sin permiso.</div>
</footer>
</body>

</html>