<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VANDAL</title>
  <!-- Enlace al archivo de estilos principal -->
  <link rel="stylesheet" href="../../static/css/styles.css">
  <link rel="stylesheet" href="../../static/css/noticias.css">
</head>

<body>
  <!-- Header social + login -->
  <nav class="navbar">
    <div>
      <a href="eng">
        <img src="../../static/images/Logos/version_inglesa.png" alt="English Version" class="social-icons">
      </a>
    </div>
    <div class="login-icon">
      <a href="/login">
        <img class="social-icons" src="../../static/images/Logos/Login_icon.png" alt="Login Icon">
      </a>
    </div>
  </nav>

  <!-- Logo principal -->
  <nav class="navbar">
    <div>
      <a href="/">
        <img class="logo" src="../../static/images/Logos/vandal_logo.PNG" alt="Vandal Logo">
      </a>
    </div>
  </nav>

  <!-- Navbar principal -->
  <nav class="navbar">
    <ul>
      <li><a href="/">INICIO</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/redactores">Equipo</a></li>
      <li><a href="/videos">Vídeos</a></li>
      <li><a href="/calendario">Calendario</a></li>
      <li><a href="/ranking">Ranking</a></li>
    </ul>
  </nav>
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit risus, non proin dui cubilia curabitur vivamus tempus
    ullamcorper aptent, taciti netus integer felis mauris dictumst aliquam. Nibh nostra leo enim gravida sollicitudin,
    rhoncus facilisis cras curae vulputate per, torquent elementum sapien fusce. Duis at ridiculus praesent pretium
    semper fames ligula, mattis vestibulum neque enim blandit turpis viverra, porta nulla lacus libero proin molestie.
  </p>

  <p>Iaculis suscipit eleifend ac proin nulla nullam porttitor, non ultrices urna mus accumsan tellus, sagittis ornare
    turpis ligula varius et. Torquent himenaeos tellus placerat facilisis litora nostra scelerisque, aptent dictumst
    mauris quisque habitant dis, molestie orci luctus faucibus fringilla risus. Vulputate scelerisque fusce dapibus
    libero felis eleifend luctus cursus nostra molestie, convallis vestibulum sapien dis urna conubia magnis risus
    litora ultrices, mauris iaculis suscipit nisl at sodales euismod netus arcu.</p>

  <!-- Footer -->
  <footer>
    <nav class="navbar">
      <div>
        <a href="/">
          <img class="logo-footer" src="../../static/images/Logos/vandal_logo.PNG" alt="Vandal Logo Footer">
        </a>
      </div>
    </nav>
    <div class="footer-nav">
      <a href="/contacto">Trabaja con nosotros</a>
      <a href="/">Cookies</a>
      <a href="/legal">Aviso Legal</a>
    </div>
    <div>
      <a href="https://x.com/home?lang=es">
        <img class="social-icons" src="../../static/images/Logos/x_logo.png" alt="Twitter">
      </a>
      <a href="https://instagram.com">
        <img class="social-icons" src="../../static/images/Logos/instagram_logo.png" alt="Instagram">
      </a>
      <a href="https://youtube.com">
        <img class="social-icons" src="../../static/images/Logos/Youtube_logo.png" alt="YouTube">
      </a>
    </div>
    <div class="footer-bottom">Copyright Vandal © 2025 - Prohibida la reproducción total o parcial sin permiso.</div>
  </footer>
</body>

</html>